<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TIW-RIA</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/progetto?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>Mitico71!_</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
   <filter> 
      <filter-name>LoginChecker</filter-name>
      <filter-class>it.polimi.tiw.filters.LoginChecker</filter-class> 
 </filter> 
  <filter> 
      <filter-name>NoCacher</filter-name>
      <filter-class>it.polimi.tiw.filters.NoCacher</filter-class> 
 </filter> 
  <filter-mapping> 
    <filter-name>NoCacher</filter-name> 
    <url-pattern>/HomePage.html</url-pattern> 
 </filter-mapping> 
  <filter-mapping> 
    <filter-name>LoginChecker</filter-name>
    <url-pattern>/CreateDirectory</url-pattern>
    <url-pattern>/CreateDocument</url-pattern>
    <url-pattern>/CreateSubdirectory</url-pattern>
    <url-pattern>/DeleteDirectory</url-pattern>
    <url-pattern>/DeleteDocument</url-pattern>
    <url-pattern>/GetDirectories</url-pattern>
    <url-pattern>/GetDocumentDetails</url-pattern>
    <url-pattern>/GetDocuments</url-pattern>
    <url-pattern>/MoveDocToDir</url-pattern>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/MoveDocToDir</url-pattern>
    <url-pattern>/HomePage.html</url-pattern>
 </filter-mapping> 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>